@model Usage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Home ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appliance.Home.HomeId) <!-- Display HomeId -->
        </dd>

        <dt class="col-sm-2">
            Appliance
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appliance.Name) <!-- Display Appliance Name -->
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnergyUsed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnergyUsed)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsageFrequency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsageFrequency)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.UsageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
