@model Home

@{
    ViewData["Title"] = "Delete Home";
}

<div class="container py-5">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>

    <div class="card shadow-lg border-0">
        <div class="card-body">
            <h3 class="card-title text-dark">Are you sure you want to delete this home?</h3>
            <hr />
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>House Name:</strong> @Html.DisplayFor(model => model.HouseName)
                </li>
                <li class="list-group-item">
                    <strong>Size (sq. m):</strong> @Html.DisplayFor(model => model.Size)
                </li>
                <li class="list-group-item">
                    <strong>Heating Type:</strong> @Html.DisplayFor(model => model.HeatingType)
                </li>
                <li class="list-group-item">
                    <strong>Location:</strong> @Html.DisplayFor(model => model.Location)
                </li>
                <li class="list-group-item">
                    <strong>Address:</strong> @Html.DisplayFor(model => model.Address)
                </li>
                <li class="list-group-item">
                    <strong>Building Type:</strong> @Html.DisplayFor(model => model.BuildingType)
                </li>
                <li class="list-group-item">
                    <strong>Insulation Level:</strong> @Html.DisplayFor(model => model.InsulationLevel)
                </li>
            </ul>
        </div>
        <div class="card-footer text-center">
            <form asp-action="Delete" class="d-inline">
                <input type="hidden" asp-for="HomeId" />
                <button type="submit" class="btn btn-danger btn-lg">Delete</button>
            </form>
            <a asp-action="Index" class="btn btn-secondary btn-lg ms-2">Cancel</a>
        </div>
    </div>
</div>
