@model Home

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Home</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            House Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseName)
        </dd>        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size) (sq. m)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size) 
        </dd>
        <dt class = "col-sm-2">
            Heating Type
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeatingType)
        </dd>        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>          
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>        
        <dt class = "col-sm-2">
            BuildingType
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildingType)
        </dd>        
        <dt class = "col-sm-2">
            Insulation  Level
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsulationLevel)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HomeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
