@model Home

@{
    ViewData["Title"] = "Home Details";
}

<div class="container py-5">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>

    <div class="card shadow-lg border-0">
        <div class="card-body">
            <h3 class="card-title text-dark">Home Details</h3>
            <hr />
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>House Name:</strong> @Html.DisplayFor(model => model.HouseName)
                </li>
                <li class="list-group-item">
                    <strong>Size (sq. m):</strong> @Html.DisplayFor(model => model.Size)
                </li>
                <li class="list-group-item">
                    <strong>Heating Type:</strong> @Html.DisplayFor(model => model.HeatingType)
                </li>
                <li class="list-group-item">
                    <strong>Location:</strong> @Html.DisplayFor(model => model.Location)
                </li>
                <li class="list-group-item">
                    <strong>Address:</strong> @Html.DisplayFor(model => model.Address)
                </li>
                <li class="list-group-item">
                    <strong>Building Type:</strong> @Html.DisplayFor(model => model.BuildingType)
                </li>
                <li class="list-group-item">
                    <strong>Insulation Level:</strong> @Html.DisplayFor(model => model.InsulationLevel)
                </li>
            </ul>
        </div>
        <div class="card-footer text-center">
            <a asp-action="Edit" asp-route-id="@Model?.HomeId" class="btn btn-warning btn-lg">Edit</a>
            <a asp-action="Index" class="btn btn-secondary btn-lg ms-2">Back to List</a>
        </div>
    </div>
</div>
