@model IEnumerable<Home>

<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <p class="text-center my-4">
        <a asp-action="Create" class="btn btn-lg btn-primary shadow-sm">+ Create New</a>
    </p>

    <div class="row g-4">
        @foreach (var item in Model)
        {
            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <h3 class="card-title text-dark">@item.HouseName</h3>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li><strong>Size:</strong> @item.Size sq. m</li>
                            <li><strong>Heating Type:</strong> @item.HeatingType</li>
                            <li><strong>Location:</strong> @item.Location</li>
                            <li><strong>Address:</strong> @item.Address</li>
                            <li><strong>Building Type:</strong> @item.BuildingType</li>
                            <li><strong>Insulation Level:</strong> @item.InsulationLevel</li>
                        </ul>
                        <div class="row g-2">
                            <div class="col-4">
                                <a asp-action="Edit" asp-route-id="@item.HomeId" class="btn btn-warning btn-lg w-100">Edit</a>
                            </div>
                            <div class="col-4">
                                <a asp-action="Details" asp-route-id="@item.HomeId" class="btn btn-info btn-lg w-100">Details</a>
                            </div>
                            <div class="col-4">
                                <a asp-action="Delete" asp-route-id="@item.HomeId" class="btn btn-danger btn-lg w-100">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
