@model Appliance

@{
    ViewData["Title"] = "Delete Appliance";
}

<div class="container py-5">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>

    <div class="card shadow-lg border-0">
        <div class="card-body">
            <h3 class="card-title text-dark">Are you sure you want to delete this appliance?</h3>
            <hr />
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Name:</strong> @Html.DisplayFor(model => model.Name)
                </li>
                <li class="list-group-item">
                    <strong>House Name:</strong> @Html.DisplayFor(model => model.Home.HouseName)
                </li>
                <li class="list-group-item">
                    <strong>Brand:</strong> @Html.DisplayFor(model => model.Brand)
                </li>
                <li class="list-group-item">
                    <strong>Power Rating:</strong> @Html.DisplayFor(model => model.PowerRating)
                </li>
            </ul>
        </div>
        <div class="card-footer text-center">
            <form asp-action="Delete" class="d-inline">
                <input type="hidden" asp-for="ApplianceId" />
                <button type="submit" class="btn btn-danger btn-lg">Delete</button>
            </form>
            <a asp-action="Index" class="btn btn-secondary btn-lg ms-2">Cancel</a>
        </div>
    </div>
</div>
