@model IEnumerable<Usage>
@{
    var usageFrequencyMap = new Dictionary<int, string>
    {
        { 1, "Rarely" },
        { 2, "Sometimes" },
        { 3, "Often" },
        { 4, "Very Often" },
        { 5, "Always" }
    };
}

@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Appliance.Home.HouseName)</td>
        <td>@Html.DisplayFor(modelItem => item.Appliance.Name)</td>
        <td>@Html.DisplayFor(modelItem => item.Date)</td>
        <td>@Html.DisplayFor(modelItem => item.EnergyUsed)</td>
        <td>@(usageFrequencyMap.ContainsKey(item.UsageFrequency) ? usageFrequencyMap[item.UsageFrequency] : "Unknown")</td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.UsageId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.UsageId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.UsageId">Delete</a>
        </td>
    </tr>
}
